@import url(https://fonts.googleapis.com/css?family=Signika:400,300,600,700);
/* line 9, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
body {
  font-family: "Signika", sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed; }

/* line 20, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
textarea:focus,
input:focus,
button:focus {
  outline: 0; }

/* line 24, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
input {
  border: none;
  background-color: transparent; }

/* line 30, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
p,
a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: black; }

/* line 37, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
h1 {
  font-size: 48px;
  font-weight: 600; }

/* line 42, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
h2 {
  font-weight: 400;
  font-size: 24; }

/* line 47, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
h3 {
  font-weight: 400;
  font-size: 18; }

/* line 53, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.home {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center; }
  /* line 59, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .home img {
    position: relative;
    margin-top: 15%;
    margin-bottom: 15px;
    max-width: 400px; }
  /* line 65, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .home .description {
    font-size: 16px;
    font-weight: 400;
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px; }

/* line 74, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.header {
  padding-top: 15px; }
  /* line 76, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .header .user-control {
    color: black;
    font-size: 15px;
    font-weight: 300;
    border: none;
    background-color: transparent; }
    /* line 82, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .header .user-control span {
      color: #ea4f1f;
      font-weight: 400;
      margin-right: 5px; }
  /* line 88, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .header .dropdown-menu {
    box-shadow: none;
    border: 1px solid #ea4f1f;
    border-radius: 2px;
    padding: 0; }
    /* line 93, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .header .dropdown-menu button {
      width: 100%;
      text-align: left;
      background-color: white;
      border: none;
      padding: 5px 15px; }
      /* line 99, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
      .header .dropdown-menu button:hover {
        background-color: #ffe9e3; }

/* line 106, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.askanything {
  margin-top: 120px; }

/* line 111, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.box {
  background-color: rgba(255, 233, 227, 0.5);
  border: 1px solid #ea4f1f;
  border-radius: 2px;
  font-size: 16px;
  padding-bottom: 30px; }
  /* line 117, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box h3 {
    color: #ea4f1f;
    padding-bottom: 10px; }
  /* line 121, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box .row {
    margin-bottom: 10px; }
  /* line 124, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box .forgot {
    margin-top: 10px;
    cursor: pointer;
    text-align: center; }
    /* line 128, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .box .forgot:hover {
      color: #ea4f1f;
      text-decoration: none; }
  /* line 133, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box label {
    padding-top: 6px;
    font-weight: 400; }
  /* line 137, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box input {
    width: 80%;
    margin-left: 10px;
    background-color: white;
    padding: 5px 15px; }
  /* line 143, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box button {
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 15px;
    color: #ea4f1f;
    transition: all 0.2s ease; }
    /* line 153, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .box button:hover {
      background-color: #ea4f1f;
      color: white; }
  /* line 158, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box a {
    display: inline-block; }

/* line 163, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.user-alert {
  color: #ea4f1f;
  font-weight: 500; }

/* line 169, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.log-in img {
  margin-top: 12%; }

/* line 174, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.ask-form {
  width: 50%;
  margin: auto;
  background-color: rgba(255, 233, 227, 0.5);
  border: 1px solid #ea4f1f;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px; }
  /* line 182, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .ask-form input {
    border: none;
    background-color: transparent;
    width: 80%; }
  /* line 187, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .ask-form button {
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #c1c1c1; }
    /* line 193, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .ask-form button:hover {
      color: black; }

/* line 200, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.up {
  padding: 10px 0;
  color: #ea4f1f;
  font-size: 30px;
  text-align: center; }

/* line 207, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.question-list {
  position: relative;
  z-index: 100;
  top: 480px; }

/* line 213, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.recent {
  background-color: #ea4f1f;
  padding-top: 30px;
  padding-bottom: 50px; }
  /* line 217, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .recent h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px; }

/* line 224, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.questions {
  background-color: white;
  padding: 15px 15px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  margin-bottom: 10px; }

/* line 233, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.q {
  font-size: 18px;
  color: black;
  font-weight: 400; }

/* line 239, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.date {
  display: inline-block;
  color: #ACB6C2;
  font-size: 13px; }

/* line 245, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.by {
  display: inline-block;
  color: #ea4f1f;
  font-size: 13px; }

/* line 253, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.answer-form,
.muted-answer-form {
  margin-top: 5px;
  background-color: rgba(255, 233, 227, 0.5);
  width: 100%;
  border: 1px solid rgba(234, 79, 31, 0.4);
  padding: 3px 10px;
  border-radius: 2px; }
  /* line 260, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .answer-form input,
  .muted-answer-form input {
    border: none;
    background-color: transparent;
    width: 85%; }
  /* line 265, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .answer-form button,
  .muted-answer-form button {
    background-color: transparent;
    border: none;
    color: #ACB6C2; }

/* line 272, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.muted-answer-form {
  border: 1px solid rgba(172, 182, 194, 0.4);
  background-color: rgba(172, 182, 194, 0.1); }

/* line 277, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.answer-field {
  margin-top: 3px;
  background-color: rgba(172, 182, 194, 0.1);
  padding: 10px 10px; }

/* line 283, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.answer {
  display: inline-block;
  color: black;
  font-size: 15px;
  font-weight: 300;
  width: 68%;
  vertical-align: top; }

/* line 292, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.answered-by {
  width: 20%;
  display: inline-block !important;
  color: #5C9ED4;
  font-size: 14px;
  vertical-align: top; }

/* line 300, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.hidden-input {
  margin-top: 5px; }

/* line 304, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.add-answer {
  margin-left: 10px;
  font-size: 12px;
  color: #ACB6C2;
  cursor: pointer; }
  /* line 309, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .add-answer:hover {
    text-decoration: none;
    font-weight: 400;
    color: #ea4f1f; }
  /* line 314, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .add-answer .fa {
    font-size: 14px;
    margin-right: 3px; }

/* line 320, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.heart-column {
  padding-left: 0px;
  padding-right: 3px; }

/* line 326, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.heart,
.answer-vote {
  padding-left: 0px;
  font-size: 18px;
  color: #ACB6C2;
  cursor: pointer; }
  /* line 331, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .heart a,
  .answer-vote a {
    color: #ACB6C2; }
  /* line 335, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .heart:hover a,
  .answer-vote:hover a {
    color: #ea4f1f; }

/* line 341, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.answer-vote {
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 10%; }

/* line 348, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.active {
  color: #ea4f1f; }

/* line 353, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.heart-number,
.vote-number {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 200; }

@media (max-width: 786px) {
  /* line 361, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .ask img {
    max-width: 300px; }
  /* line 366, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .ask-form imput {
    width: 80%; }
  /* line 369, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .ask-form button {
    display: none; }
  /* line 373, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .question-list {
    top: 250px; }
  /* line 377, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .answer-form button {
    display: none; } }

/*# sourceMappingURL=main.css.map */