//Color
$main: #ea4f1f;
$secondary: #ffe9e3;
$grey: #ACB6C2;
$name: #5C9ED4;
//------------------------
@import url(https://fonts.googleapis.com/css?family=Signika:400,300,600,700);
//------------------------
body {
  font-family: "Signika", sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

textarea:focus,
input:focus,
button:focus {
  outline: 0;
}

input {
  border: none;
  background-color: transparent;
}

p,
a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-weight: 400;
  font-size: 24;
}

h3 {
  font-weight: 400;
  font-size: 18;
}

//HOME
.home {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  img {
    position: relative;
    margin-top: 15%;
    margin-bottom: 15px;
    max-width: 400px;
  }
  .description {
    font-size: 16px;
    font-weight: 400;
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.header {
  padding-top: 15px;
  .user-control {
    float: right;
  }
  a {
    display: inline-block;
    color: $main;
    border: none;
    margin-right: 10px;
  }
  button {
    display: inline-block;
    font-weight: 500;
    color: $grey;
    border: none;
    background-color: transparent;
    &:hover {
      color: $main;
    }
  }
}

.askanything {
  margin-top: 120px;
}

//LOG-IN
.box {
  background-color: rgba( $secondary, .5);
  border: 1px solid $main;
  border-radius: 2px;
  font-size: 16px;
  padding-bottom: 30px;
  h3 {
    color: $main;
    padding-bottom: 10px;
  }
  .row {
    margin-bottom: 10px;
  }
  .forgot {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    &:hover {
      color: $main;
      text-decoration: none;
    }
  }
  label {
    padding-top: 6px;
    font-weight: 400;
  }
  input {
    width: 80%;
    margin-left: 10px;
    background-color: white;
    padding: 5px 15px;
  }
  button {
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 15px;
    color: $main;
    transition: all .2s ease;
    &:hover {
      background-color: $main;
      color: white;
    }
  }
  a {
    display: inline-block;
  }
}

.user-alert {
  color: $main;
  font-weight: 500;
}

.log-in {
  img {
    margin-top: 12%;
  }
}

.ask-form {
  width: 50%;
  margin: auto;
  background-color: rgba( $secondary, .5);
  border: 1px solid $main;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
  input {
    border: none;
    background-color: transparent;
    width: 80%;
  }
  button {
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #c1c1c1;
    &:hover {
      color: black;
    }
  }
}

//QUESTION LIST
.up {
  padding: 10px 0;
  color: $main;
  font-size: 30px;
  text-align: center;
}

.question-list {
  position: relative;
  z-index: 100;
  top: 480px;
}

.recent {
  background-color: $main;
  padding-top: 30px;
  padding-bottom: 50px;
  h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
  }
}

.questions {
  background-color: white;
  padding: 15px 15px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  margin-bottom: 10px;
}

//Question field
.q {
  font-size: 18px;
  color: black;
  font-weight: 400;
}

.date {
  display: inline-block;
  color: $grey;
  font-size: 13px;
}

.by {
  display: inline-block;
  color: $main;
  font-size: 13px;
}

//Answer field
.answer-form,
.muted-answer-form {
  margin-top: 5px;
  background-color: rgba( $secondary, .5);
  width: 100%;
  border: 1px solid rgba($main, .4);
  padding: 3px 10px;
  border-radius: 2px;
  input {
    border: none;
    background-color: transparent;
    width: 85%;
  }
  button {
    background-color: transparent;
    border: none;
    color: $grey;
  }
}

.muted-answer-form {
  border: 1px solid rgba($grey, .4);
  background-color: rgba( $grey, .1);
}

.answer-field {
  margin-top: 3px;
  background-color: rgba($grey, .1);
  padding: 3px 10px;
}

.answer {
  display: inline-block;
  color: black;
  font-size: 15px;
  font-weight: 400;
  width: 63%;
  vertical-align: top;
}

.answered-by {
  width: 25%;
  display: inline-block;
  color: $name;
  font-size: 14px;
  vertical-align: top;
}

.hidden-input {
  margin-top: 5px;
}

.add-answer {
  margin-left: 10px;
  font-size: 12px;
  color: $grey;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    font-weight: 400;
    color: $main;
  }
  .fa {
    font-size: 14px;
    margin-right: 3px;
  }
}

.heart,
.answer-vote {
  padding-left: 25px;
  font-size: 18px;
  color: $grey;
  cursor: pointer;
  a {
    color: $grey;
  }
  &:hover {
    a {
      color: $main;
    }
  }
}

.answer-vote {
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 10%;
}

.active {
  color: $main;
}

.heart-number,
.vote-number {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 200;
}

@media (max-width: 786px) {
  .ask {
    img {
      max-width: 300px
    }
  }
  .ask-form {
    imput {
      width: 80%
    }
    button {
      display: none;
    }
  }
  .question-list {
    top: 250px
  }
  .answer-form {
    button {
      display: none;
    }
  }
}