@import url(https://fonts.googleapis.com/css?family=Signika:400,300,600,700);
/* line 10, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
body {
  font-family: "Signika", sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed; }

/* line 21, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
textarea:focus,
input:focus,
button:focus {
  outline: 0; }

/* line 25, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
input {
  border: none;
  background-color: transparent; }

/* line 31, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
p,
a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: black; }

/* line 38, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
h1 {
  font-size: 48px;
  font-weight: 600; }

/* line 43, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
h2 {
  font-weight: 400;
  font-size: 24; }

/* line 48, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
h3 {
  font-weight: 400;
  font-size: 18; }

/* line 54, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.main {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center; }
  /* line 60, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .main img {
    position: relative;
    margin-top: 15%;
    margin-bottom: 15px;
    max-width: 400px; }
  /* line 66, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .main .description {
    font-size: 16px;
    font-weight: 400;
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px; }

/* line 75, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.modal-box {
  position: relative;
  z-index: 100;
  text-align: center; }
  /* line 79, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .modal-box img {
    position: relative;
    margin-top: 10%;
    margin-bottom: 15px;
    max-width: 400px; }
  /* line 85, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .modal-box .description {
    font-size: 16px;
    font-weight: 400;
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px; }

/* line 94, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.header {
  position: fixed;
  z-index: 99;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px; }
  /* line 102, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .header .user-control {
    color: black;
    font-size: 15px;
    font-weight: 300;
    border: none;
    background-color: transparent; }
    /* line 108, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .header .user-control span {
      color: #ea4f1f;
      font-weight: 400;
      margin-right: 5px; }
  /* line 114, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .header .dropdown-menu {
    box-shadow: none;
    border: 1px solid #ea4f1f;
    border-radius: 2px;
    padding: 0; }
    /* line 119, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .header .dropdown-menu button {
      display: inline;
      width: 100%;
      text-align: left;
      background-color: white;
      border: none;
      padding: 5px 15px; }
      /* line 126, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
      .header .dropdown-menu button:hover {
        background-color: #ffe9e3; }
  /* line 131, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .header .anonymous {
    font-size: 13px;
    float: left;
    color: #ea4f1f;
    display: inline-block; }
    /* line 136, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .header .anonymous .fa {
      margin-right: 5px; }
    /* line 139, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .header .anonymous button {
      display: inline-block;
      background-color: transparent;
      border: none;
      color: black;
      font-weight: 400; }

/* line 149, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.askanything {
  margin-top: 120px; }

/* line 154, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.box {
  background-color: rgba(255, 233, 227, 0.5);
  border: 1px solid #ea4f1f;
  border-radius: 2px;
  font-size: 16px;
  padding-bottom: 30px; }
  /* line 160, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box h3 {
    color: #ea4f1f;
    padding-bottom: 10px; }
  /* line 164, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box .row {
    margin-bottom: 10px; }
  /* line 167, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box .forgot {
    margin-top: 10px;
    cursor: pointer;
    text-align: center; }
    /* line 171, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .box .forgot:hover {
      color: #ea4f1f;
      text-decoration: none; }
  /* line 176, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box label {
    padding-top: 6px;
    font-weight: 400; }
  /* line 180, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box input {
    width: 80%;
    margin-left: 10px;
    background-color: white;
    padding: 5px 15px; }
  /* line 186, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box button {
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 15px;
    color: #ea4f1f;
    transition: all 0.2s ease; }
    /* line 196, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .box button:hover {
      background-color: #ea4f1f;
      color: white; }
  /* line 201, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .box a {
    display: inline-block; }

/* line 206, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.user-alert {
  color: #ea4f1f;
  font-weight: 500; }

/* line 212, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.log-in img {
  margin-top: 12%; }

/* line 217, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.ask-form {
  width: 50%;
  margin: auto;
  background-color: rgba(255, 233, 227, 0.5);
  border: 1px solid #ea4f1f;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px; }
  /* line 225, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .ask-form input {
    border: none;
    background-color: transparent;
    width: 80%; }
  /* line 230, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .ask-form button {
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #c1c1c1; }
    /* line 236, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .ask-form button:hover {
      color: black; }

/* line 243, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.up {
  padding: 10px 0;
  color: #ea4f1f;
  font-size: 30px;
  text-align: center; }

/* line 250, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.question-list {
  position: relative;
  z-index: 98;
  top: 480px; }

/* line 256, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.recent {
  background-color: #ea4f1f;
  padding-top: 30px;
  padding-bottom: 50px; }
  /* line 260, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .recent h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px; }

/* line 267, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.questions {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 15px 15px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  margin-bottom: 10px; }

/* line 275, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.star {
  background-color: #FFBF00;
  border-radius: 20px;
  padding: 10px;
  margin-top: -50px;
  margin-left: -30px;
  margin-right: 5px;
  display: inline-flex;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
  /* line 284, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .star .fa {
    color: white; }

/* line 290, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.q {
  font-size: 18px;
  color: black;
  font-weight: 400; }

/* line 296, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.company {
  color: #ea4f1f;
  background-color: white; }

/* line 301, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.date {
  display: inline-block;
  color: #ACB6C2;
  font-size: 13px; }

/* line 307, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.by {
  display: inline;
  color: #ea4f1f;
  font-size: 13px; }

/* line 313, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.by-anonymous {
  display: inline;
  color: #5C9ED4;
  font-size: 13px; }

/* line 319, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.by-admin {
  display: inline;
  color: #ea4f1f;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px; }

/* line 328, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.important {
  color: #ACB6C2;
  font-size: 12;
  text-decoration: none;
  cursor: pointer; }
  /* line 329, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .important .fa {
    margin-right: 5px;
    color: #ACB6C2; }
  /* line 337, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .important:hover {
    text-decoration: none;
    color: #FFBF00; }
    /* line 338, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
    .important:hover .fa {
      color: #FFBF00; }

/* line 348, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.answer-form,
.muted-answer-form {
  margin-top: 5px;
  background-color: rgba(255, 233, 227, 0.5);
  width: 100%;
  border: 1px solid rgba(234, 79, 31, 0.4);
  padding: 3px 10px;
  border-radius: 2px;
  margin-bottom: 5px; }
  /* line 356, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .answer-form input,
  .muted-answer-form input {
    border: none;
    background-color: transparent;
    width: 85%; }
  /* line 361, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .answer-form button,
  .muted-answer-form button {
    background-color: transparent;
    border: none;
    color: #ACB6C2; }

/* line 368, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.muted-answer-form {
  border: 1px solid rgba(172, 182, 194, 0.4);
  background-color: rgba(172, 182, 194, 0.1); }

/* line 373, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.answer-field {
  margin-top: 3px;
  background-color: rgba(172, 182, 194, 0.1);
  padding: 10px 10px; }

/* line 379, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.answer {
  display: inline-block;
  width: 90%;
  vertical-align: top; }

/* line 385, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.answer-text {
  color: black;
  font-size: 15px;
  font-weight: 300; }

/* line 391, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.answered-by {
  color: #5C9ED4;
  font-size: 14px;
  vertical-align: top; }

/* line 397, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.answered-by-anonymous {
  color: black;
  opacity: .7;
  font-size: 14px;
  vertical-align: top; }

/* line 404, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.hidden-input {
  margin-top: 5px; }

/* line 408, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.add-answer {
  margin-left: 10px;
  font-size: 12px;
  color: #ACB6C2;
  cursor: pointer; }
  /* line 413, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .add-answer:hover {
    text-decoration: none;
    font-weight: 400;
    color: #ea4f1f; }
  /* line 418, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .add-answer .fa {
    font-size: 14px;
    margin-right: 3px; }

/* line 424, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.heart-column {
  padding-left: 0px;
  padding-right: 3px; }

/* line 430, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.heart,
.answer-vote {
  padding-left: 0px;
  font-size: 18px;
  color: #ACB6C2;
  cursor: pointer; }
  /* line 435, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .heart a,
  .answer-vote a {
    color: #ACB6C2; }
  /* line 439, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .heart:hover a,
  .answer-vote:hover a {
    color: #ea4f1f; }

/* line 445, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.answer-vote {
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 8%; }

/* line 452, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.active {
  color: #ea4f1f; }

/* line 457, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.heart-number,
.vote-number {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 200; }

@media (max-width: 786px) {
  /* line 465, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .ask img {
    max-width: 300px; }
  /* line 470, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .ask-form imput {
    width: 80%; }
  /* line 473, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .ask-form button {
    display: none; }
  /* line 477, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .question-list {
    top: 250px; }
  /* line 481, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
  .answer-form button {
    display: none; } }

/* line 489, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.modal img {
  position: relative;
  margin-top: 15%;
  margin-bottom: 15px;
  max-width: 400px; }

/* line 495, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/public/style/main.scss */
.modal .description {
  font-size: 16px;
  font-weight: 400;
  color: grey;
  margin-top: 10px;
  margin-bottom: 10px; }

/*# sourceMappingURL=main.css.map */