@import url(https://fonts.googleapis.com/css?family=Signika:400,300,600,700);
/* line 8, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
body {
  font-family: "Signika", sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed; }

/* line 18, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
textarea:focus,
input:focus {
  outline: 0; }

/* line 22, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
input {
  border: none;
  color: transparent; }

/* line 28, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
p,
a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: black; }

/* line 35, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
h1 {
  font-size: 48px;
  font-weight: 600; }

/* line 40, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
h2 {
  font-weight: 400;
  font-size: 24; }

/* line 45, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
h3 {
  font-weight: 400;
  font-size: 18; }

/* line 51, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.home {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center; }
  /* line 57, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .home img {
    position: relative;
    margin-top: 15%;
    margin-bottom: 15px;
    max-width: 400px; }
  /* line 63, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .home .description {
    font-size: 16px;
    font-weight: 400;
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px; }

/* line 73, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.box {
  background-color: rgba(255, 233, 227, 0.5);
  border: 1px solid #ea4f1f;
  border-radius: 2px;
  font-size: 16px;
  padding-bottom: 30px; }
  /* line 79, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .box h3 {
    color: #ea4f1f;
    padding-bottom: 10px; }
  /* line 83, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .box .row {
    margin-bottom: 10px; }
  /* line 86, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .box .forgot {
    margin-top: 10px;
    cursor: pointer;
    text-align: center; }
  /* line 91, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .box label {
    padding-top: 6px;
    font-weight: 400; }
  /* line 95, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .box input {
    width: 80%;
    margin-left: 10px;
    background-color: white;
    padding: 5px 15px; }
  /* line 101, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .box button {
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 15px;
    color: #ea4f1f;
    transition: all 0.2s ease; }
    /* line 111, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
    .box button:hover {
      background-color: #ea4f1f;
      color: white; }
  /* line 116, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .box a {
    display: inline-block; }

/* line 121, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.user-alert {
  color: #ea4f1f;
  font-weight: 500; }

/* line 127, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.log-in img {
  margin-top: 12%; }

/* line 132, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.ask-form {
  width: 50%;
  margin: auto;
  background-color: rgba(255, 233, 227, 0.5);
  border: 1px solid #ea4f1f;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px; }
  /* line 140, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .ask-form input {
    border: none;
    background-color: transparent;
    width: 80%; }
  /* line 145, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .ask-form button {
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #c1c1c1; }
    /* line 151, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
    .ask-form button:hover {
      color: black; }

/* line 157, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.up {
  padding: 10px 0;
  color: #ea4f1f;
  font-size: 30px;
  text-align: center; }

/* line 164, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.question-list {
  position: relative;
  z-index: 100;
  top: 550px; }

/* line 170, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.recent {
  background-color: #ea4f1f;
  padding-top: 30px;
  padding-bottom: 50px; }
  /* line 174, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .recent h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px; }

/* line 182, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.questions {
  background-color: white;
  padding: 15px 15px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  margin-bottom: 10px; }

/* line 190, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.answered {
  background-color: #ffe9e3; }

/* line 194, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.q {
  font-size: 18px;
  color: black;
  font-weight: 400; }

/* line 201, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.by,
.date {
  display: inline-block;
  color: #ACB6C2;
  font-size: 13px; }

/* line 207, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.answer-form {
  margin-top: 5px;
  background-color: rgba(255, 233, 227, 0.5);
  width: 100%;
  padding: 3px 10px;
  border-radius: 2px; }
  /* line 213, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .answer-form input {
    border: none;
    background-color: transparent;
    width: 85%; }
  /* line 218, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .answer-form button {
    background-color: transparent;
    border: none;
    color: #ACB6C2; }

/* line 225, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.heart {
  padding-left: 25px;
  font-size: 18px;
  color: #ACB6C2;
  cursor: pointer; }
  /* line 230, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .heart a {
    color: #ACB6C2; }
  /* line 234, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .heart:hover a {
    color: #ea4f1f; }

/* line 240, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.active {
  color: #ea4f1f; }

/* line 244, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
.heart-number {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 200; }

@media (max-width: 786px) {
  /* line 252, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .ask img {
    max-width: 300px; }
  /* line 257, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .ask-form imput {
    width: 80%; }
  /* line 260, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .ask-form button {
    display: none; }
  /* line 264, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  .question-list {
    top: 250px; }
  /* line 268, /Users/AnhLe/Creative Cloud Files/Experiment/Ask Anything/style/main.scss */
  answer-form button {
    display: none; } }

/*# sourceMappingURL=main.css.map */