<section class="modal">
  <div class="container-fluid">
    <div class="col-md-12">
      <img src="img/askanything.png">
    </div>
    <div class="col-md-6 col-md-offset-3 box">

      <!--        CREATE ACOUNT-->

      <form name="myForm" ng-submit="resetPassword()">
        <div class="login-box">
          <h3>Change password</h3>
          <div class="row">
            <div class="col-xs-10">
              <input ng-model="currentPassword" type="password" placeholder="Current password" />
            </div>
          </div>

          <div class="row">
            <div class="col-xs-10">
              <input ng-model="newPassword" type="password" placeholder="New password" />
            </div>
          </div>

          <p class="user-alert">{{alert}}</p>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>