<div ng-controller="FirebaseCtrl">
  <!--  Question Input-->
  <section class="home">
    <div class="container">
      <div class="header">
        <div class="dropdown" style="float: right">
          <button class="dropdown-toggle user-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Hello <span>{{loggedInUser}}</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <button class="user-setting" ng-click="anonymousOn()" ng-hide="anonymous">Anonymous mode</button>
            <button class="user-setting" ng-click="anonymousOff()" ng-show="anonymous">Turn off anonymous</button>
            <button class="user-setting" ng-click="adminOn()" ng-show="admin" ng-hide="adminMode">Manager mode</button>
            <button class="user-setting" ng-click="adminOff()" ng-show="adminMode">Turn off manager</button>
            <button class="user-setting" ng-click="anonymousSwitch()">Change password</button>
            <li>
              <button class="user-setting" ng-click="logoutUser()">Log out</button>
            </li>
          </ul>
        </div>
        <div class="anonymous" ng-show="anonymous">
          <i class="fa fa-bell"></i>You are in anomymous mode.
          <button ng-click="anonymousOff()">Turn off</button>
        </div>
        <div class="anonymous" ng-show="adminMode">
          <i class="fa fa-bell"></i>You are in manager mode. All questions will be submitted as company survey.
          <button ng-click="adminOff()">Turn off</button>
        </div>

        <div class="row askanything">
          <div class="col-md-4 col-md-offset-4">
            <img src="img/askanything.png">
          </div>
          <div class="col-md-12">
            <div class="add-question">
              <form class="ask-form" name="myForm" ng-submit="addQuestion()">
                <input ng-model="newQuestionText" placeholder="What do you want to know?" />
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!--      List of question-->
  <section class="question-list">
    <div class="up"><i class="fa fa-arrow-circle-o-up"></i></i>
    </div>
    <div class="recent">
      <div class="container">

        <div class="row">
          <div class="col-md-6">
            <h2>Recently asked</h2>
            <!-- Unanswered-->
            <div class="questions" ng-repeat="question in questions | orderBy:'-date'" ng-show="question.status == 0">
              <div class="row">
                <div class="col-md-11 ">
                  <div class="star" ng-show="question.admin">
                    <i class="fa fa-star"></i></div>
                  <div class="by" ng-hide="question.anonymous  || question.admin">{{question.author}}</div>
                  <div class="by-anonymous" ng-show="question.anonymous">Anonymous</div>
                  <div class="by-admin" ng-show="question.admin">Company Survey</div>
                  <div class="date "> • {{question.date | date:'MM.dd.yyyy'}}</div>
                  <div class="q">{{question.text}}</div>

                  <!-- Answer input-->
                  <form class="answer-form" ng-submit="addAnswer(question)" ng-hide="question.status > 0">
                    <input ng-model="question.answer" placeholder="You have the answer?" />
                    <button type="submit">Submit</button>
                  </form>

                </div>

                <!--  Heart-->
                <div class="col-md-1 heart-column">
                  <div class="heart"><a ng-click="heartQuestion(question)"><i class="fa fa-heart-o "></i></a><span class="heart-number">{{question.heart}}</span>
                  </div>
                </div>
              </div>
            </div>

            <!--Answered-->
            <div class="questions" ng-repeat="question in questions | orderBy:'-date'" ng-show="question.status > 0">
              <div class="row">
                <div class="col-md-11 ">
                  <div class="by" ng-hide="question.anonymous || question.admin">{{question.author}}</div>
                  <div class="by-anonymous" ng-show=(question.anonymous)>Anonymous</div>
                  <div class="by-admin" ng-show=(question.admin)>Company Survey</div>
                  <div class="date "> • {{question.date | date:'MM.dd.yyyy'}}</div>
                  <div class="q ">{{question.text}}</div>


                  <!-- Anwser-->
                  <div class="answer-field" ng-repeat="answer in question.answers">
                    <div class="answer">
                      <div class="answered-by" ng-hide=(answer.anonymous)>{{answer.author}}
                        <div class="date "> • {{answer.date | date:'MM.dd.yyyy'}}</div>
                      </div>
                      <div class="answered-by-anonymous" ng-show=(answer.anonymous)>Anonymous</div>
                      <div class="answer-text">{{answer.text}}</div>
                    </div>
                    <div class="answer-vote" ng-show="question.status > 1"><a ng-click="voteAnswer(answer)"><i class="fa fa-thumbs-o-up"></i></a><span class="vote-number">{{answer.vote}}</span></div>

                  </div>

                  <!--Hidden input-->
                  <div class="hidden-input" ng-hide="question.status == 0">
                    <form class="muted-answer-form" ng-submit="addAnswer(question)" style="margin-bottom: 5px">
                      <input ng-model="question.answer" placeholder="You have a different idea?" />
                      <button type="submit">Submit</button>
                    </form>
                    <!--
                  <a class="add-answer" ng-click="showTheForm = !showTheForm"><i class="fa fa-plus-circle" ></i>
 Got another answer?</a>
-->

                  </div>

                </div>

                <!--  Heart-->
                <div class="col-md-1 heart-column">
                  <div class="heart"><a ng-click="heartQuestion(question)"><i class="fa fa-heart-o "></i></a><span class="heart-number">{{question.heart}}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Favorites-->
          <div class="col-md-6">
            <h2>Questions of the Week</h2>
            <div class="questions" ng-repeat="question in questions | orderBy:'-date' | orderBy:'status'" ng-show="question.heart > 4">
              <div class="row">
                <div class="col-md-11 ">
                  <div class="by" ng-hide=(question.anonymous)>{{question.author}}</div>
                  <div class="by-anonymous" ng-show=(question.anonymous)>Anonymous</div>
                  <div class="date "> • {{question.date | date:'MM.dd.yyyy'}}</div>
                  <div class="q ">{{question.text}}</div>


                  <!-- Anwser-->
                  <div class="answer-field" ng-repeat="answer in question.answers">
                    <div class="answered-by" ng-hide=(answer.anonymous)>{{answer.author}}</div>
                    <div class="answer-anonymous" ng-show=(answer.anonymous)>Anonymous</div>
                    <div class="answer">{{answer.text}}</div>
                    <div class="answer-vote" ng-show="question.status > 1"><a ng-click="voteAnswer(answer)"><i class="fa fa-thumbs-o-up"></i></a><span class="vote-number">{{answer.vote}}</span></div>

                  </div>

                  <!--Hidden input-->
                  <div class="hidden-input" ng-hide="question.status == 0">
                    <form class="muted-answer-form" ng-submit="addAnswer(question)" style="margin-bottom: 5px">
                      <input ng-model="question.answer" placeholder="You have a different idea?" />
                      <button type="submit">Submit</button>
                    </form>
                    <!--
                  <a class="add-answer" ng-click="showTheForm = !showTheForm"><i class="fa fa-plus-circle" ></i>
 Got another answer?</a>
-->

                  </div>

                </div>

                <!--  Heart-->
                <div class="col-md-1 heart column">
                  <div class="heart"><a ng-click="heartQuestion(question)"><i class="fa fa-heart-o "></i></a><span class="heart-number">{{question.heart}}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>