<section class="log-in">
  <div ng-controller='FirebaseUser'>
    <div class="container">
      <img src="img/askanything.png">
      <div class="row login-form">

        <!--        LOG-IN-->
        <form class="col-md-6" name="myForm" ng-submit="loginUser()">
          <div class="login-box">
            <h3>Log-in</h3>
            <div class="row">
              <div class="col-xs-1 col-xs-offset-1">
                <label>Email</label>
              </div>
              <div class="col-xs-10">
                <input ng-model="userLogin" placeholder="Your Fifth Tribe email" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-1 col-xs-offset-1">
                <label>Password</label>
              </div>
              <div class="col-xs-10">
                <input ng-model="passwordLogin" type="password" />
              </div>
            </div>
            <p class="user-alert">{{loginAlert}}</p>
            <button type="submit">Let me in</button>
            <a class="forgot">Forgot your password?</a>
          </div>
        </form>

        <!--        CREATE ACOUNT-->
        <form class="col-md-6" name="myForm" ng-submit="createUser()">
          <div class="signup-box">
            <h3>Create an account</h3>
            <div class="row">
              <div class="col-xs-1 col-xs-offset-1">
                <label>Email</label>
              </div>
              <div class="col-xs-10">
                <input ng-model="user" placeholder="Your Fifth Tribe email" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-1 col-xs-offset-1">
                <label>Name</label>
              </div>
              <div class="col-xs-10">
                <input ng-model="userName" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-1 col-xs-offset-1">
                <label>Password</label>
              </div>
              <div class="col-xs-10">
                <input type="password" ng-model="password" />
              </div>
            </div>

            <div class="row">
              <div class="col-xs-1 col-xs-offset-1">
                <label>Confirm</label>
              </div>
              <div class="col-xs-10">
                <input type="password" ng-model="confirm" />
              </div>
            </div>

            <p class="user-alert">{{alert}}</p>
            <button type="submit">Join</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>